<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
    <!-- AutumnLG -->
	<servlet>
		<servlet-name>AutumnLGServer</servlet-name>
		<servlet-class>com.taehee.autumnlgserver.AutumnLGServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutumnLGServer</servlet-name>
		<url-pattern>/autumnlgserver</url-pattern>
	</servlet-mapping>
	
	<!-- NoEnemyLG -->
	<servlet>
		<servlet-name>NoEnemyLGServer</servlet-name>
		<servlet-class>com.taehee.autumnlgserver.NoEnemyLGServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoEnemyLGServer</servlet-name>
		<url-pattern>/noenemylgserver</url-pattern>
	</servlet-mapping>
	
	<!-- ChampLG -->
	<servlet>
		<servlet-name>ChampLGServer</servlet-name>
		<servlet-class>com.taehee.autumnlgserver.ChampLGServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChampLGServer</servlet-name>
		<url-pattern>/champlgserver</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
